@charset "UTF-8";
/*
container
header
main
footer
を指定するためのcssで、基本的にはいじらない
*/

.container {
    font-family: 'Meiryo', 'Arial', sans-serif;
    font-size: 8px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    overflow: auto;
}


header, main, footer {
    margin: 0 auto;
    width: 100vw;
    margin-bottom: 10px;
}

.heading {
    display: flex;
    margin-left: 6px;
    margin-bottom: 6px;
}

.heading h1{
    font-weight: bold;
    font-size: 16px;
    margin: auto;
    margin-left: 6px;
    text-decoration: none;
}

header img {
    margin-top: 6px;
    margin-bottom: 6px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header ul li {
    width: 16vw;
    min-width: 16vw;
    text-align: center;
    border-left: 1px #ccc solid;
    font-size: 12px;
    font-weight: bold;
}

header ul li:last-child {
    border-right: 1px #ccc solid;
}

header ul li a {
    display: block;
}

header ul li a:hover {
    background-color: #bbb;
    transition: background 500ms;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    text-align: center;
    color: gray;
    margin-bottom: 30px;
}

#loading {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.dots {
    height: 100vh;
    width: 20vw;
    margin: 0  auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.dot {
    border: 2px solid mediumaquamarine;
    background-color: mediumaquamarine;
    border-radius: 25em;
    width: 18px;
    height: 18px;
    margin: 0 auto;
    animation-name: dotjump;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;

}


.dot1 {
    animation-delay: 0ms;
}

.dot2 {
    animation-delay: 50ms;
}

.dot3 {
    animation-delay: 100ms;
}

.dot4 {
    animation-delay: 150ms;
}

.dot5 {
    animation-delay: 200ms;
}

.dot6 {
    animation-delay: 250ms;
}

.dot7 {
    animation-delay: 300ms
}

.dot8 {
    animation-delay: 350ms
}


.dot {
    border: 2px solid mediumaquamarine;
    background-color: mediumaquamarine;
    border-radius: 25em;
    width: 8px;
    height: 8px;
    margin: 0 auto;
    animation-name: dotjump;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;

}


@keyframes dotjump {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    5% {
        opacity: 1;
        transform: translateY(10px);
    }

    50% {
        opacity: 0;
        transform: translateY(-100px)
    }

    75% {
        opacity: 1;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

.loaded {
    opacity: 0;
    visibility: hidden;
}

@media screen and (min-width:630px) {
    .container {
        font-family: 'Meiryo', 'Arial', sans-serif;
        font-size: 16px;
        background-color: #eee;
        display: flex;
        flex-direction: column;
        height: 100vh;
        min-height: 100vh;
    }
    
    
    header, main, footer {
        margin: 0 auto;
        width: 600px;
        margin-bottom: 20px;
    }
    
    .heading {
        display: flex;
        margin-left: 12px;
        margin-bottom: 12px;
    }
    
    .heading h1{
        font-weight: bold;
        font-size: 24px;
        margin-top: 40px;
        margin-left: 12px;
    }
    
    header img {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    
    
    header ul li {
        width: 120px;
        min-width: 120px;
        text-align: center;
        border-left: 2px #ccc solid;
        font-size: 12px;
        font-weight: bold;
    }
    
    
    header ul li:last-child {
        border-right: 1px #ccc solid;
    }
    
    
    footer {
        text-align: center;
        color: gray;
        margin-bottom: 40px;
    }

    .dot {
        border: 2px solid mediumaquamarine;
        background-color: mediumaquamarine;
        border-radius: 25em;
        width: 10px;
        height: 10px;
        margin: 0 auto;
        animation-name: dotjump;
        animation-duration: 2500ms;
        animation-iteration-count: infinite;
    
    }
}

@media screen and (min-width:1280px) {
    .container {
        font-family: 'Meiryo', 'Arial', sans-serif;
        font-size: 16px;
        background-color: #eee;
        display: flex;
        flex-direction: column;
        height: 100vh;
        min-height: 100vh;
    }
    
    
    header, main, footer {
        margin: 0 auto;
        width: 1200px;
        margin-bottom: 20px;
    }
    
    .heading {
        display: flex;
        margin-left: 12px;
        margin-bottom: 12px;
    }
    
    .heading h1{
        font-weight: bold;
        font-size: 32px;
        margin-top: 40px;
        margin-left: 12px;
    }
    
    header img {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    
    
    header ul li {
        width: 240px;
        min-width: 240px;
        text-align: center;
        border-left: 2px #ccc solid;
        font-size: 20px;
        font-weight: bold;
    }
    
    header ul li:last-child {
        border-right: 2px #ccc solid;
    }    
    
    footer {
        text-align: center;
        color: gray;
        margin-bottom: 80px;
    }

    .dot {
        border: 2px solid mediumaquamarine;
        background-color: mediumaquamarine;
        border-radius: 25em;
        width: 18px;
        height: 18px;
        margin: 0 auto;
        animation-name: dotjump;
        animation-duration: 2500ms;
        animation-iteration-count: infinite;
    
    }
}




